CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
TurtleGraphics
TurtleGraphics_autogen
Compiler_autogen
libCompiler.a
TurtleLanguage_autogen
libTurtleLanguage.a
